.upload-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 440px;
    align-content: center;
    justify-content: center;
    padding: 0px 50px 0px;
    position: relative;
    bottom: 70px;

}
.upload-input {
    height: 30px;
    font-family: 'Press Start 2P', cursive;  
    padding: 5px;
    margin: 10px 20px;
}

.upload-file {
    display: none;
}

#upload-label {
    width: 150px;
    height: 30px;
    text-align: center;
    align-self: center;
}

.upload-btn {
    width: 150px;
    height: 45px;
    text-align: center;
    align-self: center;
  cursor: pointer;
}

.load-screen {
    background-color: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    color: white;
    text-align: center;
    padding-top: 30%;
    font-family: 'Press Start 2P', cursive;  
    font-size: 50px;
}
