.signup-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 379px;
    align-content: center;
    justify-content: center;
    border-radius: 20%;
    position: relative;
    color: gold;
    padding: 0 50px;

}
.signup-label {
    display:grid;
    margin-top: 10px;
    padding-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}
.signup-input{
    font-family: 'Press Start 2P', cursive;
    height: 40px;
    
}
.signup-button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    align-self: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}
