/* TODO Add site wide styles */
@import "../node_modules/nes.css/css/nes.css";
.bg{
    background-image: url("./public/landscape.png");
    background-size: cover;
    height: 100%; 
    width: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1;
}