.logo {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  font-size: 25px;
  color: black;
  margin: 20px;
}
.navbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 190, 23);
  margin: 0 20px 0 20px!important;
  /* width: 100%; */
  top: 20px;
  height: 90px;
}
button {
  padding-bottom: 1.5rem !important;
}
#profile-button {
  background: none;
  border: none;
  position: relative;
  bottom: 8px;
  left: 35px;
  /* position: fixed;
  left: 90%; */
}
.profile-dropdown {
  position: absolute;
  right: -8px;
  top: 80px;
  list-style: '🍄';
  text-align: right;
  border-bottom: 4px solid rgb(34, 32, 32);
  border-left: 4px solid rgb(34, 32, 32);
  border-right: 4px solid rgb(34, 32, 32);
  background-color: rgb(23, 190, 23);
  padding-top: 30px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
#logout {
    margin: 10px;
    font-size: 10px;
    width: 100px
}
#stupidgreenbox {
    height: 10px;
    width: 10px;
    background-color: rgb(23, 190, 23);
    top: 79px;
    right: 78px;
    position: relative;
    z-index:99;
}