.logo {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  font-size: 25px;
  color: black;
  margin: 20px;
}
.navbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(23, 190, 23, 1);
  margin: 0 20px 0 20px!important;
  /* width: 100%; */
  top: 0px;
  height: 90px;
  z-index: 2;
  position: relative;
}

#profile-button {
  background-color: transparent;
  border: none;
  position: relative;
}

#coin {
  height: 60px;
}

.profile-dropdown {
  position: absolute;
  right: -4px;
  top: 94px;
  list-style: '🍄';
  text-align: right;
  border-bottom: 4px solid rgb(34, 32, 32);
  border-left: 4px solid rgb(34, 32, 32);
  border-right: 4px solid rgb(34, 32, 32);
  background-color: rgba(23, 190, 23, 1);
  padding-top: 30px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
#logout {
    margin: 10px;
    font-size: 10px;
    width: 100px
}
#top-right {
  display: flex;
}

#upload {
  align-self: center;
}
